body {
    width: 1440px;
    margin:0px auto 0px auto;
    display: flex;
    flex-direction: column;
    background: top url(assets/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg) no-repeat,
        bottom url(assets/img/Rectangle27.jpg) no-repeat;    
}

.button {
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
    border: #0D606F;
}

.section-header {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

/*Header*/

.header {
    height: 90px;
    background:  rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    display: flex;
    justify-content: space-between;
}

/*Logo*/

.logo {
    display: flex;
    height: 31px;
    vertical-align: middle;
    object-fit: contain;    
}

.header__logo {
    margin-left: 120px;
}

.svg-header {
    height: 30px;
    width: 30px;    
}

.logo__svg-header {
   margin-top: 26px; 
}

.main-header {
     font-family: "Magra";
     font-weight: 600;
     line-height: 39px;
     font-size: 32px;
     color: #ffffff;
     margin: 0px;     
}

.logo__main-header {
    margin-top: 25px;
}

/*Navigation Panel*/

.nav-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 42px;
}

.nav__nav-list {
   margin-top: 35px; 
}

.nav-item {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

/*Login button*/

.button__login {
    width: 103px;
    height: 41px;
    font-size: 16px;
    line-height: 21px;
    margin-top: 24px;
    margin-right: 120px;
}

/*Plan Section*/
/*Plan container and header*/

.preview-wrapper {    
    width: 892px;
    height: 422px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preview {
    height: 675px;
}

.header__preview {
    margin-top: 32px;
    margin-left: 120px; 
}

.preview-caption {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color:#ffffff;    
}

.preview__preview-caption {
    margin-top: 0px;
}

.preview-label {    
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    height: 24px;
    color: #ffffff;
}

.preview__preview-label {
   margin-bottom: 46px; 
}

/*Search*/

.search {
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.search__input {
    margin-left: 41px;
    margin-top: 32px;
    padding: 0;
    width: 560px;
    height: 22px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    color: #F2785C;
    border: none;
    background: none;
}

::placeholder {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.search__button {
    margin-top: 18px;
    margin-right: 18px;
    width: 228px;
    height: 59px;
    font-size: 24px;
    line-height: 32px;
}

/* 3 steps section*/

.steps {
    height: 424px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps__section-header {
    margin-top: 80px;
    margin-bottom: 40px;
}

.steps-list {
    height: 154px;
    width: 1177px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0px;
}

.steps__steps-list {
    margin: 0px auto 0px auto;
}

/*steps-list elements*/

.svg-container {
    width: 100px;
    height: 100px;
    background: #F2785C;
    border-radius: 16px;
    margin: auto;
}

.steps-item:nth-child(2) {
    margin-left: 231px;
    margin-right: 150px;
}

.svg-container1__steps-svg {
    margin-top: 28px;
    margin-left: 25px;
}

.svg-container2__steps-svg {
    margin: 24px;
}

.svg-container3__steps-svg {
    margin-top:28px;
    margin-left: 20px;
}


.steps-caption {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

/* destination section*/
/*header and gallery section*/

.destination {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.destination-gallery {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 2520px;
    height: 943px;
}

.destination__destination-galery {
    margin-left: -540px;
}

.destination__wrapper {
    overflow: hidden;
    width: 1440px;
    height: 800px;
}

.places {
    height: 800px;
    width: 800px;
    border-radius: 16px;    
}

.places:nth-child(1) {
    background-image: url(assets/img/Rectangle23.jpg);
}

.places:nth-child(2) {
    background-image: url(assets/img/Rectangle24.jpg);
}

.places:nth-child(3) {
    background-image: url(assets/img/Rectangle25.jpg);
}

.places-caption {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.places__places-caption {
    margin-top: 718px;
    margin-left: 15px;
}

/*slider and button*/

.destination-slider {
    height: 20px;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.destination__destination-slider {
    margin-top: 24px;
    margin-bottom: 40px;
}

.ellipse {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(242, 120, 92, 0.5);
}

.ellipse_active {
    background-color: #F2785C;
}

.arrow-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13.5px 31px;
    height: 59px;
    width: 228px;
    align-content: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.arrow_margin {
    margin-top: -4px;
}

/*stories section*/

.stories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stories__section-header {
    margin-top: 80px;
    margin-bottom: 40px;
}

.stories-container {
    height: 1270px;
    background: rgba(255, 255, 255, 0.7);
    width: 1440px;
}

.story {
    width: 1200px;
    height: 250px;
}

.story-img {
    float: left;
}

.stories-container__story {
    margin-left: 120px;
    
}

.stories-container__story:nth-child(1) {
    margin-top: 40px;
}

.story-header {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #0D606F;
}

.story-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.read-more {
    text-decoration: underline;
    font-weight: bold;
}

.story__story-header {
    margin-bottom: 24px;
    margin-top: 30px;
}

.story__story-text {
    margin-left: 40px;
    display: block;
}

.story-img {
    margin-right: 40px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    border: none;
}

.stories-container__button {
    margin: 40px auto 41px auto;
}

/*footer*/

.footer {
    height: 61px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 728.96px;
    height: 33.65px;    
}

.footer__footer-container{
    margin-left: 590px;
    margin-top: 14px;
    margin-bottom: 13.35px;
}

.credits {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0px;    
}

.footer-container__credits {
    margin-top: auto;
    margin-bottom: auto;
}

.media-links {
    display:flex;
    width: 140.96px;
    justify-content: space-between;
}

.footer-svg:nth-child(2) {
    background: url(assets/svg/Vector6.svg) no-repeat center;
}

.footer-svg_frame {
    margin-top: 2.5px;
}
